@import url("https://fonts.googleapis.com/css?family=VT323");

@import "slider.css";
@import "titleCard.css";
@import "audioCard.css";

html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow: hidden;
    background-color: black;
  }