@import url("https://fonts.googleapis.com/css?family=VT323");
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

@import "slider.css";
@import "titleCard.css";
@import "audioCard.css";
@import "searchCard.css";
@import "searchBar.css";
@import "./vhrOverlay/vhrOverlay.css";
@import "twitchChat.css";
@import "clipBox/clipBox.css";

html{
    height: 100%;
    margin: 0;
    padding: 0;
    /* filter:sepia(1.0); */
    --main-bg: black;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow: hidden;
    background-color: var(--main-bg, black);
  }

  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  *:focus{
    outline:none;
  }

 img.dj {
  filter: blur(1px) opacity(0.99) brightness(0.01) drop-shadow(0px 0px 1px rgba(255, 255, 255, 0));
  position: absolute;
  left: 34vw;
  top: 58vh;
  transform: scale(4);
  z-index: 101;
  mix-blend-mode: hard-light;
  animation: djDance 6s infinite;
  animation-timing-function: step-start;
}

@keyframes djDance {
  50% {
    transform: scale(4) scaleX(-1);
  }
  100% {
    transform: scale(4) scaleX(1);
  }
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(0deg)
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}