@import url("https://fonts.googleapis.com/css?family=VT323");
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

@import "slider.css";
@import "titleCard.css";
@import "audioCard.css";
@import "searchCard.css";
@import "searchBar.css";

html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow: hidden;
    background-color: black;
  }

  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  *:focus{
    outline:none;
  }