#clip-box {
    margin-top: 7vh;
}

#clip_title_card {
    height: 100vh;
    position: absolute;
    width: 100vw;
    margin-top: -9vh;
    margin-left: -14vw;
    background-color: var(--main-bg);
    mix-blend-mode: hard-light;
}

#clip-box > div.clips > div.clips_control {
    color: #101010;
    display: flex;
    justify-content: space-around;
    width: 10em;
    margin: 0 auto;
    margin-top: 2vh;
    font-size:2em;
    font-family: "VT323", monospace;
    font-weight: bold;
    animation: blur 30ms infinite, jerk 50ms infinite;
}

div.clip {
    display: flex;
    justify-content: center;
    margin-top: -3vh;
    margin-bottom: 8vh;
}

div.functions {
    font-size:2em;
    font-family: "VT323", monospace;
    font-weight: bold;
    color: #101010;
    animation: blur 30ms infinite, jerk 50ms infinite;
    margin: 2vh auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
}