#clip-box {
    margin-top: 7vh;
}

#clip_title_card {
    height: 100vh;
    position: absolute;
    width: 100vw;
    margin-top: -9vh;
    margin-left: -14vw;
    background-color: var(--main-bg);
    mix-blend-mode: hard-light;
}

#clip-box > div.clips > div.clips_control {
    color: #101010;
    display: flex;
    justify-content: space-around;
    width: 10em;
    margin: 0 auto;
    margin-top: 2vh;
    font-size:2em;
    font-family: "VT323", monospace;
    font-weight: bold;
    animation: blur 30ms infinite, jerk 50ms infinite;
}

div.clip {
    display: flex;
    justify-content: center;
    margin-top: -3vh;
    margin-bottom: 8vh;
}

div.clips_index {
    position: absolute;
    font-family: "VT323", monospace;
    font-size: 1.5em;
    font-weight: bold;
    color: gray;
    background-color: var(--main-bg, black);
    z-index: 100;
    margin-left: 10vw;
}

div.clips_pagination {
    font-size: 1em;
}

#clip-box > div.dash_board > div.clips_index > div > div.pagination-top > div > div.-next > button  {
    color: grey;
}

#clip-box > div.dash_board > div.clips_index > div > div.pagination-top > div > div.-previous > button  {
    color: grey;
}

#clip-box > div.dash_board > div.clips_index > div > div.pagination-top > div > div.-center > span > div > input[type="number"] {
    background: #ffffff61;
    color: white;
    font-family: "VT323", monospace;
}

div.dash_board > div.clips_index > div > div.rt-table > div.rt-tbody {
    animation: blur 30ms infinite;
}

div.functions {
    font-size:2em;
    font-family: "VT323", monospace;
    font-weight: bold;
    color: #101010;
    animation: blur 30ms infinite, jerk 50ms infinite;
    margin: 2vh auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

@keyframes bounce {
    0% { transform: scale(1) }
    1% { transform: scale(1.03) }
    2% { transform: scale(1) }
    100% { transform: scale(1) }
}

div.dash_board {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    left: 0;
}