#battery {
    position: absolute;
    top: 1.75em;
    left: 0em;
    display: block;
	margin: 4vh 0 0 13vw;
    /* width: 55px; */
	height: 2em;
    float: left;
	opacity: 0.2;
	z-index: 100;
}

#battery:before {
	content: "";
	display: block;
	background: transparent;
	border: 6px solid #ffffff;
	margin: -12px;
	width: 100px;
	height: 3.5em;
	position: absolute;
	border-radius: 1px;
	z-index: 100;
}

#battery:after {
	content: "";
	display: block;
	background: transparent;
	border: 6px solid #ffffff;
	margin: 1px 95px;
	width: 6px;
	height: 25px;
	position: absolute;
	border-radius: 1px;
	z-index: 100;
}

#battery.empty {
	width: 0;
}

#battery.half {
	width: 40px
}

#battery.full {
	width: 72px
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	#battery {
		top: 3vh;
		margin: 2vh 0 0 17vw;
		width: 55px;
		height: 2em;
		float: left;
		opacity: 0.2;
		z-index: 100;
	}
}