@import "battery.css";
@import "currentTrackDisplay.css";
@import "dateAndTimeDisplay.css";

div.vhr_overlay {
    height: 100vh;
    width: 100%;
    background-color: transparent;
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
}

div#vhr_grid {
    border: 5px solid gray;
    height: 80%;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    border-image-source: url('./ViewFinderFrame.png');
    border-image-slice: 50%;
    border-image-width: 6em;
    box-shadow: 10em;
    display:flex;
    justify-content: center;
}

@keyframes pulse {
    0% {
        opacity: 0.25;
    }
    50%{
        opacity: 0.50;
    }
    100%{
        opacity: 0.25;
    }
}
